<div class="hero-unit">
  <h1>TweetDVR</h1>
  <p>View the tweets you missed while your DVR'd shows were recording.</p>
  <p>
    <div class="sign_in_with_twitter darker">
		<div></div>
		<button class="twitter_login_btn">
			<div class="icon"></div>
			Sign in with Twitter
		</button>
	</div>
  </p>
</div>
	<div style="width: 100%; text-align: center;">
		<div class="marketing row">
	      <div class="span5">
	      	
	      </div>
	      <div class="span5 offset1">
	      	
	      </div>
		</div>
	    <div class="marketing row">
	      <div class="span5">
	      	<img src="./img/twitter_bird-matt_hamm_flickr.jpg">
	      	<h2>Twitter</h2>
	      	<p>It's where all the good stuff is going on, but it's way better when you can consume it in real time while you watch your show.</p>
	      </div>
	      <div class="span5 offset1">
	      	<img src="./img/grey_fresh_retro_tv.png">
	      	<h2>Television</h2>
        	<p>It's a blessing and a curse, but at least nowadays you can get social by seeing what's going on with the rest of the world while you watch.</p>
	      	</div>
	    </div>
	</div>
</div>