<div class="hero-unit">
  <h1>TweetDVR</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla urna nec lectus fringilla faucibus. Fusce at libero nulla. Fusce tellus sem, porttitor quis luctus et, feugiat vel tortor.</p>
  <p>
    <div class="sign_in_with_twitter darker">
		<div></div>
		<button class="twitter_login_btn">
			<div class="icon"></div>
			Sign in with Twitter
		</button>
	</div>
  </p>
</div>
	<div style="width: 100%; text-align: center;">
		<div class="marketing row">
	      <div class="span5">
	      	
	      </div>
	      <div class="span5 offset1">
	      	
	      </div>
		</div>
	    <div class="marketing row">
	      <div class="span5">
	      	<img src="./img/twitter_bird-matt_hamm_flickr.jpg">
	      	<h2>Twitter</h2>
	      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam libero erat, condimentum eget elementum vel, convallis nec dui. Duis pellentesque neque urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc nisi eros, fringilla ut fermentum nec, volutpat eu ante. </p>
	      </div>
	      <div class="span5 offset1">
	      	<img src="./img/grey_fresh_retro_tv.png">
	      	<h2>Television</h2>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam libero erat, condimentum eget elementum vel, convallis nec dui. Duis pellentesque neque urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc nisi eros, fringilla ut fermentum nec, volutpat eu ante. </p>
	      	</div>
	    </div>
	</div>
</div>