<ul id="tweetsList">

</ul>
<div id="tweetsListLoading" class="loadyHold" style="display: none">
    <div class="loady">
        <h4>Loading</h4>
    </div>
</div>
<div id="tweetsListEmpty" style="display: none;">
    <h4 style="margin-top: 5px">No Tweets Found</h4>
</div>