<blockquote>
	<div class="pull-left avatar">
		<img src="{{authorImg}}" title="{{author}}" alt="" />
	</div>
	<p class="message">
		{{{message}}}
	</p>
	<span class="muted sentAt" style="clear: left">Sent at {{{timeWords}}</span>
</blockquote>