<ul id="showsList">

</ul>
<div id="showsListLoading" class="loadyHold" style="display: none">
    <div class="loady">
        <h4>Loading</h4>
    </div>
</div>
<div id="showsListEmpty" style="display: none;">
    <h4 style="margin-top: 5px">No Shows Found</h4>
</div>