{{^loggedIn}}
    <a href="/auth/twitter">Not Logged In</a>
{{/loggedIn}}
{{#loggedIn}}
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{displayName}} <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/user">User Details</a>
        </li>
        <!--
        <li>
            <a href="/other">Other Thing</a>
        </li>
        <li>
            <a href="#">Yet Another Thing</a>
        </li>
        <li class="divider"></li>
        -->
        <li>
            <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
{{/loggedIn}}