<h2>{{name}}</h2>

<a href="#" id="showStopTweets" class="btn btn-primary">Play Tweets</a>
<p class="muted">
	Hit play whenever you start your DVR'd show.
</p>

<section id="showTweetsCollection"></section>